.sv-el-control-style {
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sv-nextBtn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: inherit;
}

.sv-speedBtn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: inherit;
    position: relative;
}
.sv-speedBtn span:nth-child(1) {
    display: block;
    padding: 20px 0;
}
.sv-speedBtn .sv-speed-btn {
    position: absolute;
    bottom: 54px;
    left: -10px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-sizing: border-box;
    border: 1px solid #ffffff; */
}
.sv-speedBtn .sv-speed-btn ul {
    padding: 0;
    margin: 0;
}
.sv-speedBtn .sv-speed-btn ul li {
    list-style: none;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}
.sv-speedBtn .sv-speed-btn ul li:hover{
    color: #00a1d6;
}
.sv-active{
    color: #00a1d6!important;
}

.sv-control-c {
    height: 100%;
}

/* 弹幕控件 */
.sv-barrage {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
}
.sv-barrage-a {
    height: 26px;
}
.sv-barrage-input {
    height: 17px;
    outline: none;
    padding: 6px 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #00a1d6;
    background: none;
    font-size: 12px;
    color: #fff;
}
.sv-barrage-button {
    height: 31px;
    background-color: #00a1d6;
    color: #fff;
    width: 60px;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #00a1d6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    vertical-align: middle;
}
.sv-barrage-button:hover{
    background-color: #03bbf7;
    border-left: 1px solid #03bbf7;
}
.sv-barrage-font {
    position: absolute;
    left: 6px;
    top: 16px;
    cursor: pointer;
}

.sv-apanel {
    position: absolute;
    bottom: 54px;
    left: -10px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 99999;
}
.sv-apanel-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sv-apanel-item span {
    font-size: 12px;
}
.sv-apanel-item ul {
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.sv-apanel-item ul li {
    list-style: none;
    background-color: #fff;
    display: block;
    width: 20px;
    height: 20px;
    margin: 4px;
    float: left;
    cursor: pointer;
}
.activeColor{
    box-sizing: border-box;
    border: 2px solid #ffff;
}