.sv-el-control-style {
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sv-nextBtn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: inherit;
}

.sv-speedBtn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: inherit;
    position: relative;
}
.sv-speedBtn .sv-speed-btn {
    position: absolute;
    bottom: 54px;
    left: -10px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-sizing: border-box;
    border: 1px solid #ffffff; */
}
.sv-speedBtn .sv-speed-btn ul {
    padding: 0;
    margin: 0;
}
.sv-speedBtn .sv-speed-btn ul li {
    list-style: none;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}
.sv-speedBtn .sv-speed-btn ul li:hover{
    color: #00a1d6;
}
.sv-active{
    color: #00a1d6!important;
}
